/* Smartphones (portrait and landscape) ----------- */

@media only screen

and (min-device-width : 320px)

and (max-device-width : 480px) {

/* Styles */ }

/* iPads (portrait and landscape) ----------- */

@media only screen

and (min-device-width : 768px)

and (max-device-width : 1024px) {

/* Styles */ } {

/* Desktops and laptops ----------- */

@media only screen

and (min-width : 1224px) }

header{
  font-family:"Passion One"; font-size:10rem;

}

header a{
  color:black;
  text-shadow:.2rem .2rem #FBFF00;
}

header a:hover{
  color:#FBFF00;text-decoration:none;
  text-shadow: .2rem .2rem black;
}

img{position:relative;
  margin-left:15%;
  width:75%;
  margin-bottom:5%;
  filter:grayscale(100%);
}

img:hover{ filter:grayscale(0%);
}

.harry img{
  border:23px solid #25CBD1;
  margin-bottom:5%;
}


.col-3 a{
  font-family:"Oswald";
  position:absolute;
  bottom:5%;
  right:5%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: black;
  color: #FF2B98;
}
 .col-3 a:hover{
   font-family:"Oswald";
   position:absolute;
   bottom:5%;
   right:5%;
   background-color: black;
   color: #FBFF00;
   padding-left: 1%;
   padding-right: 1%;
 }
 .hidden-text{
   position:absolute;
   font-family:"Oswald";
   top:28%;
   left:10%;
   background-color:#000;
   color:#25CBD1;
   padding-left:1%;
   padding-right:1%;
 }

footer{
  background-color:#FF2B98;
  position:sticky;
  left:0;
  right:0;
  bottom:0;



}
.navbar a{
  text-decoration:none;
  font-size:5.5rem;
  font-family:"Passion One";
  color:black;

}
.navbar a:hover{
  text-decoration:none;
  color:#FBFF00;
}
.navbar a:active{
  color:#25CBD1;
}
 .navbar li{
   display:inline;
   list-style-type: none;
   margin:0 2.5%;
 }
