body{
  background-color:#fff; margin:0 auto;
}

header{
  background-color:#FFC7D1;opacity:0.8;
  border-bottom:2px solid #000;
  position:fixed;width:100%;
  z-index:10;

}

h1{
  text-align:center;
    font-family:"Abril Fatface";
    letter-spacing: 1.5px;
     font-size:100px;margin-top:.5px;
     margin-bottom:.5px;
     color:#FF3EF6;
}

.container{
  max-width:800px;
  margin:0 auto;
  padding:0 auto; 


}
