/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }
html { font-size:100%; }

header{
  font-family:"Passion One"; font-size:7.2rem;

}

header a{
  color:#FBFF00;
  text-shadow:.2rem .2rem black;
}

header a:hover{
  color:black;text-decoration:none;
  text-shadow: .2rem .2rem #FBFF00;
  font-size:11rem;
}

.title {
  font-family:"Oswald";
  font-size:8rem;
  background-color:black;
  color:#FF2B98;
  text-align:center;
  text-shadow:.1px 5px white;
}
img{
  width:60%;
  float:right;
  margin-top:4%;
  display:inline;

}
.beatles img{
  border:2.1rem solid #25CBD1;
  display:inline;
}
p{
  font-family:"Oswald";
font-size: 1.7rem;
color:black;

}
p:hover{
  background-color:#FBFF00;
  color:black;
}
.article {

box-sizing: border-box;
border:1rem solid #25CBD1;
width:38%;
margin-top:4%;
padding:.5%;
float:left;display:inline;

}

.songs{
background-color:#FBFF00;
color:white;
  display:inline;
  float:left;
  padding:.1%;
  margin-top:.3%;
  width:100%;
  font-size:80px;
  text-align:center;
  font-family:"oswald";
}
.songs:hover{
  color:black;
  text-shadow:2px 1px #FF2B98;
}
.container{
  box-sizing: border-box;
  width:50%;
  border:.2rem solid #FF2B98;
  padding:1%;
  background-color:black;

  margin-top:75%;
  margin-bottom:5%;


}
.container li{
  list-style-type: none;

}

#love{
  margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#someone{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2b98;
}
#will{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;

}
#onlylove{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#see{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#wait{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#road{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2b98;
}
#gun{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}

#julia{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2b98;
}
#because{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;

}
#guitar{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#life{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#day{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2B98;
}
#rigby{
margin-left:3%;
  display:inline;
  font-family:"Oswald";
  font-size:2rem;
  color:#FF2b98;
}
footer{
  background-color:#FF2B98;
  position:sticky;
  left:0;
  right:0;
  bottom:0;
  text-align:center;



}

.navbar a{
  text-decoration:none;
  font-size:5.5rem;
  font-family:"Passion One";
  color:black;

}
.navbar a:hover{
  text-decoration:none;
  color:#FBFF00;
}
.navbar a:active{
  color:#25CBD1;
}
 .navbar li{
   display:inline;
   list-style-type: none;
   margin:0 2.5%;
 }
