/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }
html { font-size:100%; }

header{
  font-family:"Passion One"; font-size:7.2rem;

}

header a{
  color:#FBFF00;
  text-shadow:.2rem .2rem black;
}

header a:hover{
  color:black;text-decoration:none;
  text-shadow: .2rem .2rem #FBFF00;
  font-size:11rem;
}

.title{
  font-family:"Oswald";
  font-size:6rem;
  text-align:center;
  background-color:#25CBD1;
  color:#FBFF00;
  border-bottom:.3rem solid black;
  border-top:.3rem solid black;
  text-shadow:.2rem .2rem #FF2B98;
}
.text-block a{
  font-family:"Oswald";
  position:absolute;
  top:103%;
  left:9%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: black;
  color: #FF2B98;
}
 .text-block a:hover{
   font-family:"Oswald";
   position:absolute;
   top:103%;
   left:9%;
   background-color: black;
   color: #FBFF00;
   padding-left: 1%;
   padding-right: 1%;
 }
 .block-text a{
   font-family:"Oswald";
   position:absolute;
   top:103%;
   left:41%;
   padding-left: 1%;
   padding-right: 1%;
   background-color: black;
   color: #FF2B98;
 }
  .block-text a:hover{
    font-family:"Oswald";
    position:absolute;
    top:103%;
    left:41%;
    background-color: black;
    color: #FBFF00;
    padding-left: 1%;
    padding-right: 1%;
  }

  .mcqueen-text a{
    font-family:"Oswald";
    position:absolute;
    top:103%;
    left:70.5%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: black;
    color: #FF2B98;
  }
   .mcqueen-text a:hover{
     font-family:"Oswald";
     position:absolute;
     top:103%;
     left:70.5%;
     background-color: black;
     color: #FBFF00;
     padding-left: 1%;
     padding-right: 1%;
   }

img{
  filter:grayscale(100%);
  height:50rem;
  margin-left:1%;
  margin-right:.5%;
  margin-top:3%;
  float:left;display:inline;

}
img:hover{
    filter:grayscale(0%);
}
.gucci img{
  box-sizing: border-box;
  border:1.2rem solid #25CBD1;
  margin-left:5%;

}

.mario img{

  margin-left:5%;


}

.mcqueen img{
  box-sizing: border-box;
  border:1.2rem solid #25CBD1;
  margin-left:5%;
}




   footer{
     background-color:#FF2B98;
     position:sticky;
     left:0%;
     right:0%;
     bottom:0%;
     margin-top:700px;
     text-align: center;




   }
   .navbar a{
     text-decoration:none;
     font-size:5.5rem;
     font-family:"Passion One";
     color:black;

   }
   .navbar a:hover{
     text-decoration:none;
     color:#FBFF00;
   }
   .navbar a:active{
     color:#25CBD1;
   }
    .navbar li{
      display:inline;
      list-style-type: none;
      margin:0 2.5%;

    }
