/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }
html { font-size:100%; }

header{
  font-family:"Passion One"; font-size:7.2rem;

}

header a{
  color:#FBFF00;
  text-shadow:.2rem .2rem black;
}

header a:hover{
  color:black;text-decoration:none;
  text-shadow: .2rem .2rem #FBFF00;
  font-size:11rem;
}

.title {
  font-family:"Oswald";
  text-align:center;
  background-color:#000;
  color:#FF2B98;
  font-size:6rem;
  text-shadow:.1rem .2rem #FFF;

}


img{
  width:62%;
  float:right;
  margin-top:4%;
  display:inline;
  margin-bottom:1%;

}
.fleet img{
  border:2.1rem solid #25CBD1;
  display:inline;
}
p{
font-family:"Oswald";
font-size: 1.8rem;
color:black;
text-indent: 20px;
background-color:white;

}
p:hover{
  background-color:#FBFF00;
  color:black;
}
.article {

box-sizing: border-box;
border:1rem solid #25CBD1;
width:36%;
margin-top:4%;
padding:.5%;
float:left;display:inline;
}
.songs{
background-color:#FBFF00;
color:white;
  display:inline;
  float:left;
  padding:.1%;
  margin-top:.3%;
  width:100%;
  font-size:80px;
  text-align:center;
  font-family:"oswald";
}
.songs:hover{
  color:black;
  text-shadow:2px 1px #FF2B98;
}

.text {
  box-sizing: border-box;
  border:0.1rem solid #FF2B98;
  display:inline-block;
  margin-top:1%;
  width:90%;
  margin-right:5%;
  margin-left:5%;
  padding:.5%;
  font-size:1.7rem;


}
.text p{
  background-color:white;
}

.container{
display:inline-block;
background-color:black;
border:1px dotted #FBFF00;
}
#silver{
  display:inline-block;
  font-family:"Oswald";
  font-size:2rem;
  color:white;
}

#gypsy{
  display:inline-block;
  font-family:"Oswald";
  font-size:2rem;
  color:white;
}

#lace{
  display:inline-block;
  font-family:"Oswald";
  font-size:2rem;
  color:white;
}
#chain{
  display:inline-block;
  font-family:"Oswald";
  font-size:2rem;
  color:white;

}
#bleed{
  display:inline-block;
  font-family:"Oswald";
  font-size:2rem;
  color:white;
}
footer{
  background-color:#FF2B98;
  position:sticky;
  left:0%;
  right:0%;
  bottom:0%;
  margin-top:2%;

}

.navbar a{
  text-decoration:none;
  font-size:5.5rem;
  font-family:"Passion One";
  color:black;

}
.navbar a:hover{
  text-decoration:none;
  color:#FBFF00;
}
.navbar a:active{
  color:#25CBD1;
}
 .navbar li{
   display:inline;
   list-style-type: none;
   margin:0 2.5%;
 }
