/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
img { max-width: 100%; }
html { font-size:100%; }

header{
  font-family:"Passion One"; font-size:75px;

}

header a{
  color:#FBFF00;
  text-shadow:2px 2px black;
}

header a:hover{
  color:black;text-decoration:none;
  text-shadow: 2px 2px #FBFF00;
  font-size:100px;
}

.title {
  font-family:"Oswald";
  font-size:50px;
  background-color:black;
  color:#FF2B98;
  text-align:center;
}
img{
  width:800px;
  float:right;
  margin-top:50px;
  display:inline;

}
.rockstar img{
  border:23px solid #25CBD1;
  display:inline;

}
p{font-family:"Oswald";
font-size: 17px;
color:black;

}
p:hover{
  background-color:#FBFF00;
  color:black;
}
.article {

box-sizing: border-box;
border:13px solid #25CBD1;
width:500px;
margin-top:40px;
padding:10px;
float:left;display:inline;

}
.container{
  box-sizing: border-box;
  border:2px solid #FF2B98;
  margin-top:600px;
  padding:15px;
  background-color:black;

}
.container li{
  list-style-type: none;
}
#sweet{
  margin-left:10px;
  display:inline;
  font-family:"Oswald";
  font-size:20px;
  color:#FF2B98;
}
#angel{
  margin-left:10px;
  display:inline;
  font-family:"Oswald";
  font-size:20px;
  color:#FF2b98;
}
#ultra{
  margin-left:10px;
  display:inline;
  font-family:"Oswald";
  font-size:20px;
  color:#FF2B98;

}
#stevie{
  margin-left:10px;
  display:inline;
  font-family:"Oswald";
  font-size:20px;
  color:#FF2B98;
}
#meetme{
  margin-left:10px;
  display:inline;
  font-family:"Oswald";
  font-size:20px;
  color:#FF2B98;
}

footer{
  background-color:#FF2B98;
  margin-top:400px;

}


.navbar a{
  text-decoration:none;
  font-size:50px;
  font-family:"Passion One";
  color:black;

}
.navbar a:hover{
  text-decoration:none;
  color:#FBFF00;
}
.navbar a:active{
  color:#25CBD1;
}
 .navbar li{
   display:inline;
   list-style-type: none;
   margin:0 30px;
 }
